.aa {
	width:102px;
	height:500px;
	background: url(../img/10.png) no-repeat, url(../img/10.png) no-repeat, url(../img/10.png) no-repeat;
}
.bb {
	background: url(../img/1.png) no-repeat, url(../img/focus/1.png) no-repeat, url(../img/10.png) no-repeat;
}
