*{ margin: 0px; padding: 0px; font-size: 14px; color: #666;}
html,body{ height: auto; overflow: auto;}
body{ background: #fafafa; min-width: 1190px;}

h2,h3,h4{ font-weight:normal;}
ul,li,dl,dt,dd{list-style-type:none;}
img{border: none;}
i{ font-style: normal;}
a{text-decoration: none; cursor: pointer;}
.cur-hand{ cursor: pointer;}
button,input{ outline: none;}
.inline{ display: inline;}

.fl{ float: left;}
.fr{ float: right;}
.pr{ position: relative;}
.pa{ position: absolute;}
.tc{ text-align: center;}

.ml1{ margin-left: 10px;}
.ml7{ margin-left: 7px;}
.ml12{ margin-left: 12px;}
.ml38{ margin-left: 38px;}
.ml62{ margin-left: 62px;}
.ml68{ margin-left: 68px;}
.ml72{ margin-left: 72px;}
.ml73{ margin-left: 73px;}
.ml116{ margin-left: 116px;}
.mt1{ margin-top: 1px;}
.ml91{ margin-left: 91px;}
.mt6{ margin-top: 6px;}
.mt10{ margin-top: 10px;}
.mt17{ margin-top: 17px;}
.mt20{ margin-top: 20px;}
.mt22{ margin-top: 22px;}
.mt25{ margin-top: 25px;}
.mt28{ margin-top: 28px;}
.mt30{ margin-top: 30px;}
.mb20{ margin-bottom: 20px;}
.mb22{ margin-bottom: 22px;}
.mb24{ margin-bottom: 24px;}
.pt10{ padding-top: 10px;}

.colf43{ color: #f43535;}
.colf34{ color: #f34b4e;}
.f14{ font-size: 14px;}
.f15{ font-size: 15px;}
.bgf{ background: #fff;}
.fwb{ font-weight: 700;}

.cb{ clear:both; overflow: hidden;}


.w{ width: 1190px; height: 100%; margin:0 auto;}

/*头部*/
.header{width: 100%;padding: 14px 0 19px 0; background: #fff; position: fixed; left: 0px; top: 0px; z-index: 999; box-shadow:0 -26px 32px 22px #eee; }
.header .xp-logo{ display: block; width: 320px; margin-top: 5px;}
.header .w .xp-nav{ clear: both; overflow: hidden; display: block; right: 0px; top:-5px;}
.header .xp-nav li{ margin-left: 42px; float: left;  cursor: pointer;}
.header .xp-nav li a{padding: 0 18px 0 20px; display: inline-block; font-size: 18px;height:44px; line-height: 44px;}
.header .xp-nav li a:hover{ color: #f04349;}
.header .xp-nav li.nav-text.current a{ color: #f04349;}
.header .xp-nav li.nav-but{ background: #f04d52; font-size: 18px; color: #fff;line-height: 44px;padding: 0 20px 0 22px; margin-left: 35px;}


/*底部*/
.footer{ width: 100%; padding:27px 0 33px 0; background: #353335; border-top: 2px solid #f34b4e;}
.footer .footop{ clear: both; width: 100%; overflow: hidden; padding:1px 0 57px 0;}
.footer .footop .foot-logo{ width: 50px; display: block;}
.footer .footop .foot-nav{ line-height: 20px; margin-left: 2px;}
.footer .footop .foot-nav li{ float: left; }
.footer .footop .foot-nav li a{ padding: 0 17px; font-size: 16px; color: #ccc; line-height: 20px; background: url(../../img/xp3.png) right center no-repeat;}
.footer .footop .foot-nav li:nth-child(1) a{ padding: 0 18px 0 23px;}
.footer .footop .foot-nav li a.last{ background: none;}
.footer .footop .foot-nav li a:hover{ color: #f04349;}
.csqq{ display: block; top: 0px; right: 216px;}
.footer .footop .foot-scan{ right: 45px; top: 2px; display: block;}
.footer .footbot{ width: 100%; border-top: 1px solid #484848; padding-top: 10px; line-height: 1;}
.footer .footbot span{ display: inline-block; font-size: 12px; line-height: 1; }

/*免责声明*/
.discm-box{
	width: 1070px;
	padding: 10px 60px 94px 60px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;	
	margin: 98px auto 28px auto;
}
.discm-box h2{
	padding: 41px 0 14px 0;
	line-height: 1;
	font-size: 18px;
	color: #f34b4e;
	margin-bottom: 6px;
	background: url(../../img/xp6.png) left bottom repeat-x;	
}
.discm-box p{
	font-size: 14px;
	color: #878787;
	line-height: 30px;
	text-align: justify;
}
.discm-box h3.tip{
	font-size: 14px;
	color: #f43535;
	line-height: 1;	
}
.bort-dotted{ background: url(../../img/xp6.png) left top repeat-x;}

/*关于香草招聘*/
.abxc-top{
	width: 100%;
	height: 450px;
	background: url(../../img/xp11.png) center top no-repeat #f34b4e;
	margin-top: 70px;
}
.abxc-top .w a{
	display: block;
	width: 218px;
	height: 60px;
	bottom: 75px;
	cursor: pointer;
}
.abxc-top a.andr-down{
	background-image: url(../../img/xp12.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 218px 60px;
	right: 294px;
}
.abxc-top a.app-down{
	background-image: url(../../img/xp13.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 218px 60px;
	right: 53px;
}
.abxc-top a.andr-down img,.abxc-top a.app-down img{
	position: absolute;
	display: block;
	width: 135px;
	height: 143px;
	left: 42px;
	bottom: -146px;
	display: none;
}
.abxc-ul,.abxc-ul li{
	width: 100%;
	min-height: 420px;
	clear: both;
	overflow: hidden;
}
.abxc-ul li h2{
	font-size: 36px;
	padding-left: 21px;
	line-height: 1;
	margin-bottom: 24px;
}
.abxc-ul li p{
	line-height: 30px;
	font-size: 20px;
	color: #999;
}
.abxc-ul li img{
	display: block;
}
.abxc-ul li.first,.abxc-ul li.third{
	background: #f9f9f9;
}
.abxc-ul li.first .abxc-text{
	left: 12px;
	top: 122px;
}
.abxc-ul li.first h2{
	color: #f34b4e;
	background: url(../../img/xp14.png) left center no-repeat;
	background-size: 5px 34px;
}
.abxc-ul li.first img{
	top: 118px;
	right: 91px;
}
.abxc-ul li.second,.abxc-ul li.fourth{
	background: #fff;
}
.abxc-ul li.second .abxc-text{
	width: 400px;
	right: 120px;
	top: 128px;
}
.abxc-ul li.second h2{
	color: #f9521e;
	background: url(../../img/xp15.png) left center no-repeat;
	background-size: 5px 34px;
}
.abxc-ul li.second img{
	top: 83px;
	left: 23px;
}
.abxc-ul li.third .abxc-text{
	left: 60px;
	top: 120px;
}
.abxc-ul li.third h2{
	color: #2373cc;
	background: url(../../img/xp16.png) left center no-repeat;
	background-size: 5px 34px;
}
.abxc-ul li.third img{
	top: 47px;
	right: 198px;
}
.abxc-ul li.fourth .abxc-text{
	width: 500px;
	right: 122px;
	top: 123px;
}
.abxc-ul li.fourth h2{
	color: #57cc23;
	background: url(../../img/xp17.png) left center no-repeat;
	background-size: 5px 34px;
}
.abxc-ul li.fourth img{
	top: 52px;
	left: 98px;
}

/*加入我们*/
.jous-top{
	width: 100%;
	height: 400px;
	background: url(../../img/xp18.jpg) center top no-repeat #143143;
	margin-top: 70px;
}
.jous-contop{
	width: 100%;
	padding: 106px 0 99px 0;
}
.jous-contop h2.title{
	line-height: 40px;
	font-size: 34px;
	color: #f34b4e;
	margin-bottom: 21px;
}
.jous-contop img.date{
	width: 173px;
	height: 31px;
	display: block;
	margin: 0 auto;
}
.jous-contop .jsct-ul{
	margin-top: 39px;
	clear: both;
	overflow: hidden;
}
.jous-contop .jsct-ul li{
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 277px;
	float: left;
	padding: 7px 7px 0 7px;
	margin: 0 6px 10px 0;
	background: #fff;
}
.jous-contop .jsct-ul li.last{
	margin: 0 0 10px 0;
}
.jous-contop .jsct-ul li img{
	width: 277px;
	height: 163px;
}
.jous-contop .jsct-ul li p{
	line-height: 32px;
	font-size: 12px;
	text-align: left;
}
.jous-contcen{
	width: 100%;	
}
.jous-contcen .jscc-box{
	padding: 108px 50px 20px 50px;
}
.jous-contcen h2{
	font-size: 34px;
	color: #383838;
	line-height: 50px;
	margin-bottom: 32px;	
}
.jous-contcen p{
	font-size: 16px;
	line-height: 36px;
	text-align: justify;
}
.jous-contcen .life-img img{
	display: block;
	float: left;
}
.jous-conbot{
	padding: 90px 0 58px 0;
}
.jous-conbot h2.title{
	line-height: 50px;
	font-size: 34px;
	color: #f34b4e;
	margin-bottom: 25px;
}
.jous-conbot ul.com-tag li{
	color: #f34b4e;
	display: inline-block;
	padding: 0 22px;
	margin: 0 6px;
	line-height: 38px;	
	border: 1px solid #f34b4e;
	border-radius: 25px;
	-moz-border-radius: 25px;	
}
.jous-conbot h3.text{
	line-height: 1;
	background: url(../../img/xp27.png) center center no-repeat;
	color: #999;
}
.jous-conbot .job-offer{
	border: 1px solid #dfdfdf;
}
.jous-conbot .job-offer .jof-top{
	height: 47px;
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
	left: 0px;
	top: 0px;	
}
.jous-conbot .job-offer .jof-top span{
	font-size: 15px;
	display: inline-block;
	line-height: 46px;
	padding: 0 38px;
	cursor: pointer;
}
.jous-conbot .job-offer .jof-top span.current{
	background: #fff;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-top: 2px solid #fea906;
	margin-left: -1px;
	background: #fff;
}
.offer-infor{
	height: 414px;
	padding: 10px 32px 22px 32px;
	padding: 10px 32px 28px 32px;
	line-height: 24px;
	margin-top: 48px;
	display: none;
}
.offer-infor h2.post{
	font-size: 14px;
	color: #f34b4e;
	line-height: 1;
	margin-top: 12px;
	padding-bottom: 6px;
}
.offer-infor h3,.offer-infor h3 span{
	font-size: 13px;
	color: #000;
	margin-top: 12px;
}
.offer-infor p{
	font-size: 13px;
	color: #999;
}
.offer-contact{
	padding:0 32px 22px 32px;
}
.offer-contact p{
	line-height: 24px;
	font-size: 13px;
	color: #999;
}
.offer-contact p.f14{
	color: #f34b4e;
	font-size: 14px;
}
.offer-contact p.colf34{
	color: #f34b4e;
}


/*商业合作*/
.buscoop-top{
	width: 100%;
	height: 401px;
	background: url(../../img/xp43.jpg) center center no-repeat;
	margin-top: 70px;
}
.buscoop-top .w .hire-but{
	position: absolute;
	width: 193px;
	height: 59px;
	display: block;
	cursor: pointer;
	left: 499px;
	bottom: 55px;
	background: url(../../img/xp44.png) center center no-repeat;
	background-size: 193px 59px;
}
.buscoop-cen{
	padding: 100px 0 82px 0;
}
.buscoop-cen h2.title{
	line-height: 40px;
	font-size: 30px;
}
.buscoop-cen .tit-tip{
	padding: 16px 0 54px 0;
	line-height: 1;
	font-size: 20px;
}
.buscoop-cen .bscp-cbox{
	width: 100%;
	height: 438px;
	background: url(../../img/xp28.jpg) left top no-repeat #3c3c3d;
}
.buscoop-cen .bscp-cbox .bccb-text{
	margin-top: 58px;
	line-height: 32px;
	color: #fff;
}
.buscoop-cen .bscp-cbox .bscp-type{
	left: 0px;
	bottom: 187px;
	width: 100%;
}
.buscoop-cen .bscp-cbox .bscp-type li{
	position: absolute;
	padding-left: 40px;
	top: 0;
}
.buscoop-cen .bscp-cbox .bscp-type li h2{
	line-height: 1;
	font-size: 28px;
	margin-bottom: 10px;
	color: #fff;
}
.buscoop-cen .bscp-cbox .bscp-type li h3{
	line-height: 1;
	font-size: 18px;
	margin-bottom: 23px;	
	color: #ccc;
}
.buscoop-cen .bscp-cbox .bscp-type li p{
	line-height: 26px;
	color: #999;
}
.buscoop-cen .bscp-cbox .bscp-type li.first{
	width: 192px;
	left: 0;
}
.buscoop-cen .bscp-cbox .bscp-type li.first h2{
	color: #29b679;
}
.buscoop-cen .bscp-cbox .bscp-type li.second{
	width: 206px;
	left: 192px;
}
.buscoop-cen .bscp-cbox .bscp-type li.third{
	width: 330px;
	left: 438px;
}
.buscoop-cen .bscp-cbox .bscp-type li.fourth{
	width: 298px;
	right: 0;
}

.buscoop-bot{
	width: 100%;
	padding: 69px 0 80px 0;
}
.buscoop-bot h2.title{
	line-height: 1;
	margin-bottom: 54px;
	font-size: 24px;
	color: #999;
}
.buscoop-bot ul.partner{
	border-top: 1px solid #d2d2d2;
	border-left: 1px solid #d2d2d2;
}
.buscoop-bot ul.partner li{
	width: 236px;
	height: 98px;
	float: left;
	text-align: center;
	line-height: 98px;
	vertical-align: middle;
	display:table-cell;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
.buscoop-bot ul.partner li.w237{
	width: 237px;
}
.buscoop-bot ul.partner li img{
	vertical-align: middle;
}

.com-way{
	width: 100%;
	padding: 41px 0 45px 0;
	background: #dedede;
}
.com-way .comw-ul li{
	float: left;
}
.com-way .comw-ul li img{
	display: block;
	width: 74px;
	height: 74px;
	float: left;
	margin-right: 14px;
}
.com-way .comw-ul li .text{
	float: left;
}
.com-way .comw-ul li p{
	line-height: 1;
	font-size: 16px;
	color: #666;
}
.com-way .comw-ul li span.city{
	margin-top: 29px;
	display: block;
	width: 70px;
	text-indent: 6px;
	font-size: 20px;
	color: #666;
	border-right:1px solid #999;
	line-height: 20px;
	margin-right: 28px;
}

.com-pos{
	width: 100%;
	height:338px;
}
.com-pos .pos-img{
	width: 1708px;
	height: 338px;
	display: block;
	left: 50%;
	top: 50%;
	margin-left: -854px;
	margin-top: -169px;
}

@media screen and (min-width:1708px){
	.com-pos .pos-img{
		width: 100%;
		height: auto;
		left: 0px;
		top: 0px;
		margin: 0;
	}
}

.foot-address{
	width: 100%;
	min-height: 145px;
	background: #353335;
	padding-top: 45px;
}
.foot-address li{
	padding-left: 100px;
	position: absolute;
	top: 0;	
}
.foot-address li.first{
	left: 106px;	
}
.foot-address li.last{
	right: 172px;	
}
.foot-address li p{
	font-size: 14px;
	color: #666;
	line-height: 31px;
	margin-left: 30px;
}
.foot-address li span{
	position: absolute;
	font-size: 20px;
	color: #808080;
	width: 70px;
	border-right: 1px solid #666;
	left: 0px;
	top: 37px;
	line-height: 20px; 
}

/*品牌标志*/
.brandlg-top{
	width: 100%;
	height: 190px;
	background: #f0f0f0;
	padding-top: 35px;
	margin-top: 70px;
}
.brandlg-top img{
	display: block;
	margin: 0 auto;
}
.brdlg-cont{
	width: 100%;
	background: #fff;
	padding: 25px 0 40px 0;
}
.brdlg-cont .w{
	width: 855px;
}
.brdlg-cont h2{
	line-height: 34px;
	text-align: center;
	font-size: 18px;
	color: #666;
	padding-bottom: 33px;
	border-bottom: 1px solid #eee;
}
.brdlg-cont h2 span{
	display: block;
	line-height: 1;
	font-size: 12px;
	font-family: "microsoft yahei";
}
.brdlg-cont .brand-logo{
	border: 1px solid #eee;
	border-top: none;
	clear: both;
	overflow: hidden;
}
.brdlg-cont .brand-logo li{
	padding-top: 30px;
	width: 426px;
	float: left;
	border-bottom: 1px solid #eee;
}
.brdlg-cont .brand-logo li.bdlg-li2,.brdlg-cont .brand-logo li.bdlg-li4{
	width: 425px;
}
.brdlg-cont .brand-logo li.bordr{
	border-right: 1px solid #eee;
}
.brdlg-cont .brand-logo li .bdlogo-box{
	width: 295px;
	text-align: center;
}
.brdlg-cont .brand-logo li .bdlogo-box .logo-img{
	display: block;
	margin: 0 auto;
}
.brdlg-cont .brand-logo li p{
	line-height: 30px;
	font-size: 13px;
	color: #808080;
}
.brdlg-cont .brand-logo li p a{
	color: #348ce3;
	display: inline-block;
	text-align: left;
	white-space: nowrap;
}
.brdlg-cont .brand-logo li p span{
	display: inline-block;
	width: 102px;
	text-align: left;
}
.brdlg-cont .brand-logo li.bdlg-sty1 a{
	width: 174px;
	text-align: left;
}
.brdlg-cont .brand-logo li.bdlg-sty2 a{
	width: 188px;
	text-align: left;
}
.brdlg-cont .brand-logo li.bdlg-li1 .bdlogo-box{
	margin-left: 65px;
}
.brdlg-cont .brand-logo li.bdlg-li3 .bdlogo-box .logo-img{
	display: block;
	margin: 0 0 0 6px;
}
.brdlg-cont .brand-logo li.bdlg-li5{
	border-bottom: none;
}
.brdlg-cont .brand-color{
	height: 140px;
	position: relative;
}
.brdlg-cont .brand-color img{
	display: block;
	position: absolute;
	top: 20px;
}
.brdlg-cont .brand-color img.fbd-color{
	left: 19px;
}
.brdlg-cont .brand-color img.sbd-color{
	right: 1px;
}

.enlarge-img{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
}
