<!-- build:css css/layout.css-->
<link type="text/css" _group="aa" rel="stylesheet" href="css/layout.css" />
<link type="text/css" _group="aa" rel="stylesheet" href="css/login.css" />
<link type="text/css" rel="stylesheet" href="css/percenter.css" />
<!-- endbuild -->
<link type="text/css" rel="stylesheet" href="css/xc-pcsty.css" />

<script type="text/javascript" src="js/npm.js"></script>
<script type="text/javascript" src="js/respond.proxy.js"></script>

<script _group type="text/javascript" src="js/system-font.js"></script>
<script _group type="text/javascript" src="js/theme.js"></script>
<script _group type="text/javascript" src="js/system-font.js"></script>
