
/*help-ico*/
.help-ico{
	position: fixed;
	top: 112px;
	right: 0px;
	z-index: 100;
	width: 29px;
	height: 95px;
	background: url(../img/4.png) left top no-repeat;
	cursor: pointer;
}

/*简历－筛选  start*/
/*subnav*/
.subnav{
	width: 10%;
	height: 44px;
	line-height: 44px;
	border-bottom:1px solid #dcdee0;
	background-color: #fff;
}
.subnav span a{
	display: block;
	float: left;
	padding: 0 9px;
	margin-right: 20px;
	font-size: 16px;
	color: #000;
	line-height: 44px;
	cursor: pointer;
}
.subnav span a:hover{
	text-decoration: none;
}
.subnav span.cur a{
	color: #f04d52;
	line-height: 43px;
	border-bottom: 2px solid #F04D52;
}
.xc-tb-cont.col-sm-10{
	clear: both;
}
.xc-tb-cont .table-sty{
	border: 1px solid #dcdee0;
	background-color: #fff;
	overflow: visible;
}
.xc-tb-cont .table-sty .table{
	margin-bottom: 0px;
	border-bottom: 1px solid #e8ebed;
	line-height: 22px;
}

.xc-tb-cont .table > thead > tr > th{
	background:#f7f7f7;
}
table.table > tbody > tr > td,table.table > tbody > tr > th{
	vertical-align: middle;
	text-align: center;
}
table.table > thead> tr > th,table.table > tfoot > tr > th,.xc-tb-cont .table > thead > tr > th{
	vertical-align: middle;
	line-height: 24px;
	padding: 7px 15px;
	text-align: center;
}
table.table > tbody > tr > td,table.table > tfoot > tr > td,.xc-tb-cont .table > thead > tr > td{
	padding: 16px 15px;
}
table.table > tbody > tr > td.tl,table.table > thead > tr > th.tl{
	text-align: left;
}
table.table > thead > tr > th:first-child{
	padding: 7px 15px 7px 20px;
}
table.table > tbody > tr > td:first-child{
	padding: 16px 15px 16px 20px;
}
table.xc-tb-cont .table > thead > tr > th:last-child{
	padding: 7px 20px 7px 15px;
}
table.table > tbody > tr > td:last-child{
	padding: 16px 20px 16px 15px;
}
table.table-striped>tbody>tr:nth-of-type(odd){
	background: #fff;
}
table.table > tbody > tr.nread td:first-child{
	background-image: url(../img/159.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
table.table > tbody > tr.read td:first-child{
	background-image: url(../img/158.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
table.table-striped>tbody>tr:nth-of-type(even){
	background: #f9f9f9;
}
.table-w2 table.table > tbody > tr > td:first-child{
	padding: 18px 15px 18px 20px;
}
.table-w2 table.table > tbody > tr > td{
	padding: 18px 15px;
}
.table-w2 table.table > tbody > tr > td:last-child{
	padding: 18px 20px 18px 15px;
}
.xc-tb-cont .nav-tabs{
	margin-left: -15px;
	margin-right: -15px;
}
.xc-tb-cont .col-sm-1-5{
	width: 12%;
	min-width: 88px;
}
.xc-tb-cont .well-sm{
	border-radius: 0;
}
.xc-tb-cont .well{
	border: 1px solid #fafbfc;
}
.xc-tb-cont .nav-tabs li.well.current{
	background: #f04d52;
	color: #fff;
}
.xc-tb-cont .nav-tabs li{
	position: relative;
	cursor: pointer;
}
.xc-tb-cont .nav-tabs li.well{
	background: #f0f0f0;
	background-image: none;
	box-shadow: none;
	line-height: 16px;
	filter: none;
}
.xc-tb-cont .nav-tabs li.well.current{
	line-height: 17px;
}
.xc-tb-cont .nav-tabs li.current i.arrow_b{
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -4px;
}
.xc-tb-cont .nav-tabs li.current .arrow_b{
	width: 9px;
	height: 5px;
	display: inline-block;
	background: url(../img/3.png) left top no-repeat;
	background-size:9px 5px;
	position: absolute;
}
.headr .btn-group:last-child:not(:first-child)>.btn.bor-radl:first-child{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.lxfs-help .help-box{
	width: 284px;
	left: 25px;
	top: -6px;
	text-align: left;
	line-height: 20px;
}
.lxfs-help .help-box i.arrow-left{
	left: -6px;
	top: 16px;
}

.xder-tip .help-box{
	width: 272px;
	right: -5px;
	top: 31px;
	line-height: 22px;
	padding: 14px 19px;
}
.xder-tip .help-box strong,.xder-tip .help-box p{
	color: #ec9600;
}
.xder-tip .help-box i.arrow-left{
	top: -6px;
	right: 9px;
	background: url(../img/87.png) left top no-repeat
}
/*简历－筛选  结束*/

/*职位－招聘中的职位*/
.col-sm-06{
	width: 6%;
}
.xc-tb-cont .well-sm{
	padding: 9px 0;
}
span.subn{
	color: #b2b2b2;
}

.cs-bomb{
	display: none;
}
.cs-bomb,.cs-bomb.bomb-sty{
	width: 60%;
	min-width: 760px;
	max-width: 800px;
	margin-left: -380px;	
	margin-top: -200px;
}
.cs-bomb .table-sty{
	max-height: 320px;
	overflow-y: auto;
	border-top: 1px solid #dcdee0;
	border-bottom: 1px solid #dcdee0;
}
.cs-bomb .table-sty table.table{
	margin-bottom: 0px;
}
i.recg_sta1{
	width: 16px;
	height: 21px;
	display: inline-block;
	background: url(../img/5.png) left center no-repeat;
	background-size: 16px 16px;
	margin-right: 5px;
}
i.recg_sta2{
	width: 16px;
	height: 21px;
	display: inline-block;
	background: url(../img/7.png) left center no-repeat;
	background-size: 16px 16px;
	margin-right: 5px;
}
.cs-bomb .close,.bomb-sty .close{
	font-size: 28px;
}


.feedback-box{
	width: 630px;
	margin-left: -315px;
	margin-top: -178px;
}
.feedback-box .textarea{
	padding: 12px 20px 21px 20px;
	height: 200px;
	font-size: 14px;
	line-height: 24px;
}

.zpz-zwinfor{
	width: 630px;
	margin-left: -315px;
	margin-top: -290px;
	color: #666;
}
.zpz-zwinfor .zzi-box{
	padding: 1px 0 20px 0;
	line-height: 30px;
	max-height: 458px;
	overflow: auto;
}
.zpz-zwinfor .zzi-box .zi-pad{
	padding-left: 79px;
	position: relative;
	min-height: 30px;
}
.zpz-zwinfor .zzi-box .zi-pad label.name{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 78px;
	text-align: right;
	color: #999;
}
.zpz-zwinfor .zzi-box .zi-pad ul.select-ul{
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
}
.zpz-zwinfor .zzi-box .zi-pad ul.select-ul li{
	padding: 0 10px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #f3f4f5;
	margin: 3px 0 5px 10px;
	float: left;
}
.zpz-zwinfor .zzi-box .zi-pad ul.select-ul li:first-child{
	margin: 3px 0 5px 0;
}
.zzi-box .zi-pad ul.zwimg{
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
}
.zzi-box .zi-pad ul.zwimg li{
	width: 98px;
	height: 98px;
	border: 1px solid #dcdee0;
	margin: 5px 0 0px 10px;
	float: left;
}
.zzi-box .zi-pad ul.zwimg li:first-child{
	margin: 5px 0 0 0;
}
.zzi-box .zi-pad ul.zwimg img{
	width: 98px;
	height: 98px;
	display: block;
}

/*.btn-success.colf{
	color: #fff;
}*/

/*公司注册＋审核1*/
.xc-log-cont .panel-title{
	font-size: 14px;
}
.xc-log-cont .panel-body{
	/*padding: 0 15px;*/
	padding: 0 19px;
}
.xc-log-cont .panel-body .xc-lb{
	padding-top: 20px;
	clear: both;
	overflow: hidden;
}
.xc-log-cont .panel-body .xc-lb.pt14{
	padding-top: 14px;
}
.xc-log-cont .panel-body .xc-lb li{
	display: block;
	padding-bottom: 20px;
	line-height: 30px;
	padding-left: 90px;
	position: relative;
	clear: both;
	overflow: hidden;
}
.xc-log-cont .panel-body .xc-lb li.mb10{
	margin-bottom: 10px;
}
.xc-log-cont .panel-body .xc-lb li label.name{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 86px;
	font-weight: normal;
	display: inline-block;
}
.xc-log-cont .panel-body .col-lg-2,.xc-log-cont .panel-body .col-lg-4,.xc-log-cont .panel-body .col-lg-6,.xc-log-cont .panel-body .col-sm-2,
.xc-log-cont .panel-body .col-sm-4,.xc-log-cont .panel-body .col-sm-6,.xc-log-cont .panel-body .col-sm-7,.xc-log-cont .panel-body .col-lg-7,.xc-log-cont .panel-body .col-lg-9,.xc-log-cont .panel-body .col-sm-9{
	padding-left: 6px;
	padding-right: 6px;
} 
.xc-log-cont .panel-body .col-sm-7.jj0，.xc-log-cont .panel-body .col-lg-7.jj0,.xc-log-cont .panel-body .col-sm-6.jj0,.xc-log-cont .panel-body .col-lg-6.jj0{
	padding: 0;
	margin: 0;
}
input.w1{
	width: 100%;
}
.panel-footer.bgf{
	background: #fff;
	border-top: none;
}
.xc-log-box .panel-footer .btn-h40{
	width: 210px;
	line-height: 26px;
}
.xc-log-box .reg-zz,.xc-log-box .reg-zz .reg-upimg{
	position: relative;
}
.xc-log-box .reg-zz .reg-upimg{
	width: 390px;
	height: 280px;
	border: 1px solid #dedede;
}
.xc-log-box .reg-zz .reg-upimg img,.verify-box img{
	width: 100%;
	height: 100%;
	display: block;
}
.xc-log-box .reg-zz .reg-upimg p.up-text{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: rgba(0,0,0,0.6);
	background:#000\9;
	filter: alpha(opacity=60)\9;
	position: absolute;
	left: 0px;
	bottom: 0px;
	color: #fff;
	font-size: 14px;
	z-index: 9;
	margin: 0px;
	cursor: pointer;
}
.xc-log-box .reg-zz .reg-upimg input[type=file]{
	width: 100%;
	height: 40px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;	
}
.xc-log-box .panel-default > .panel-heading{
	background-image: none;
	padding: 16px 15px 16px 20px;
}

/*公司注册＋审核 协议弹框*/
.protc-bomb{
	width: 780px;
	margin-left: -390px;
	margin-top: -317px;
}
.protc-bomb .protc-box{
	width: 740px;
	margin: 0 0px 20px 0px;
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	padding: 15px 20px 20px 20px;
	max-height: 500px;
	overflow-y: auto;
}
.protc-bomb .protc-box h3{
	line-height: 24px;
	margin: 0;
	padding: 0;
	font-size: 14px;	
}
.protc-bomb .protc-box p{
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	text-indent: 2em;
}
.protc-bomb .protc-box p.ntind{
	text-indent:0;
}
.protc-bomb p.mb0{
	margin-bottom: 0px;
} 
.xc-log-cont .panel-body .col-sm-6.error-tip,.xc-log-cont .panel-body .col-sm-2.error-tip,.xc-log-cont .panel-body .col-sm-4.error-tip,.xc-log-cont .panel-body .col-lg-7.error-tip{
	padding-left: 16px;
}



/*审核3*/
.verify-box{
	position: relative;
	width: 390px;	
	height: 278px;
	border: 1px solid #dedede;
	margin: 0 auto;
}
i.vert-suc{
	width: 186px;
	height: 129px;
	display: inline-block;
	background: url(../img/11.png) left top no-repeat;
	background-size: 186px 129px;
}
i.vert-fail{
	width: 186px;
	height: 129px;
	display: inline-block;
	background: url(../img/12.png) left top no-repeat;
	background-size: 186px 129px;
}
.verify-box i.vert-stu{
	position: absolute;
	right: -60px;
	bottom: -14px;
	z-index: 6;	
}
.xc-log-box .panel-body .vert-text{
	font-size: 16px;
	color: #666;
	padding-top: 34px;
	line-height: 28px;
}

/*08-完善公司信息*/
.xc-log-cont .cci-text{
	margin: 0 10px;
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	background: #fff7cc;
}
.xc-log-cont .basic-inf{
	padding-left: 252px;
	position: relative;
	min-height: 200px;
}
.xc-log-cont .basic-inf.com-basic-inf{
	padding-left: 268px;
}
.xc-log-cont .basic-inf.com-basic-inf .uplogo-box{
	width: 248px;
}
.xc-log-cont .basic-inf .uplogo-box{
	position: absolute;
	width: 248px;
	left: 0px;
	top: 0px;	
}
.basic-inf .uplogo-box .uplb-top{
	width: 100px;
	height: 100px;
	background: #f0f3f5;
	border: 1px solid #dcdee0;
	position: relative;
}
.basic-inf .uplogo-box .uplb-top img{
	width: 98px;
	height: 98px;
	display: block;
}
.basic-inf .uplogo-box .uplb-top p.text{
	width: 100%;
	height: 28px;
	line-height: 28px;
	background: rgba(0,0,0,0.6);
	background:#000\9;
	filter: alpha(opacity=60)\9;
	color: #fff;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 11;
	margin: 0;
}
.basic-inf .uplogo-box .uplb-top input[type=file]{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 28px;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 99;
}
.basic-inf .xc-lb{
	margin-bottom: 0px;
}
.uplogo-box .uplb-top .lg-text{
	margin-top: 40px;
	font-size: 14px;
	color: #999;
}
.uplogo-box .uplb-bot{
	padding-left: 47px;
	position: absolute;
	line-height: 22px;
	color: #ffa100;
}
.uplogo-box .uplb-bot label{
	position: absolute;
	left: 0;
	top: 0;
	color: #999;
	width: 46px;
}
.xc-lb li .com-env .ce-top button.btn-pos{
	width: 98px;
	padding: 6px 0;
} 
.textarea{
	height: 92px;
	border: 1px solid #dcdee0;
	background: #fff;
	padding: 4px 5px 21px 6px;
	position: relative;
	border-radius: 4px;
}
.textarea textarea{
	border: none;
	width: 100%;
	height: 100%;
	resize: none;
	line-height:22px;
}
.textarea textarea:focus{
	box-shadow: none;
	outline: none;
	border: none;
}
.textarea span.ta-num{
	position: absolute;
	right: 10px;
	bottom: 6px;
	line-height: 1;
	color: #999;
}
.textarea span.ta-num i.num{
	font-style: normal;
	color: #333;
	margin-right: 2px;
}
.textarea span.ta-num i.totle{
	color: #999;
}
.xc-lb li .com-env .ce-top,.fz-text-pad .com-env .ce-top{
	position: relative;
	padding-left: 120px;
	line-height: 22px;
}
.xc-lb li .com-env .ce-top button.btn-pos,.xc-lb li .com-env .ce-top .file-pos,.fz-text-pad .com-env .ce-top button.btn-pos,.fz-text-pad .com-env .ce-top .file-pos{
	position: absolute;
	left: 0px;
	top: 0px;
}
.xc-lb li .com-env .ce-top .file-pos,.fz-text-pad .ce-top .file-pos{
	opacity: 0;
	filter: alpha(opacity=0);
	width: 104px;
	height: 34px;
	z-index: 11;
	cursor: pointer;
}
.xc-lb li .com-env .ce-bot li,.fz-text-pad .com-env .ce-bot li{
	clear: none;
	float: left;
	width: 98px;
	height: 98px;
	border: 1px solid #dcdee0;
	margin:0 10px 10px 0;
	position: relative;
	padding: 0px;
}
.xc-lb li .com-env .ce-bot li img,.fz-text-pad .com-env .ce-bot li img{
	width: 100%;
	height: 100%;
}
span.close-but{
	color: #fff;
	font-size: 19px;
	cursor: pointer;
}
.xc-lb li .com-env .ce-bot li span.close-but,.fz-text-pad .com-env .ce-bot li span.close-but{
	background: #000;
	width: 15px;
	height: 15px;
	line-height: 13px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	z-index: 11;	
}
/*弹框*/
.btn.btn-btb{
	border: 1px solid #f04d52;
	background: #fff;
}
.bomb-sty .but-w1 button{
	width: 172px;
	height: 32px;
	line-height: 20px;
}
.cci-bomb{
	margin-left: -249px;
	margin-top: -90px;
}

/*公司logo*/
.comlg{
	position: relative;
	display: none;
}
.comlg .arrow-top{
	width: 23px;
	height: 14px;
	display: block;
	position: absolute;
	top: -14px;
	left: 170px;
	background: url(../img/157.png) center center no-repeat;
	background-size: 23px 14px;
}
.com-logo{
	width: 990px;
	padding: 12px 0 0 10px;
	background-color: #f5f5f5;
	clear: both;
	overflow: hidden;
	margin:0 19px 20px 19px;
	margin-bottom: 20px;
	position: relative;
}
.com-logo li{
	width: 60px;
	height: 60px;
	border: 1px solid #dcdee0;
	position: relative;
	float: left;
	margin: 0 10px 10px 0;
}
.com-logo li img{
	width: 100%;
	height: 100%;
	display: block;
}
.com-logo li p{
	line-height: 20px;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	background:#000\9;
	filter: alpha(opacity=50)\9;
	font-size: 12px;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*09-简历详情页－待筛选*/
.basic-inf-text{
	padding-left: 150px;
	position: relative;
	min-height: 127px;
}
.basic-inf-text .head-img{
	width: 98px;
	height: 98px;
	border: 1px solid #dcdee0;
	position: absolute;
	left: 0px;
	top: 20px;
}
.xc-log-cont .panel-body .basic-inf-text .xc-lb{
	padding-top: 15px;
}
.xc-log-cont .panel-body .basic-inf-text .xc-lb li{
	margin-bottom: 0px;
	line-height: 28px;
}
.rxd-box.xc-log-cont .panel-body .basic-inf-text .xc-lb li{
	min-height: 28px;
}
.xc-log-cont .panel-body .basic-inf-text .xc-lb.pb0 li{
	padding-bottom: 0;
}
.rxd-box ul.rxd-self-tag{
	padding: 20px 0 0px 0;
	clear: both;
	overflow: hidden;
}
.rxd-box ul.rxd-self-tag li{
	padding: 0 10px;
	line-height: 28px;
	color: #f04d52;
	border: 1px solid #f04d52;
	margin: 0 10px 10px 0;
	float: left;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;

}
.rxd-box .rsd-experience-text{
	padding-right: 50px;
	padding: 0px 0 10px 0;
	line-height: 26px;
}
.rxd-box .rsd-experience-text h3{
	color: #999;
	font-size: 10px;
	font-weight: normal;
}
.rxd-box .rsd-experience-text h3 span{
	font-size: 13px;
	color: #666;
	margin:0 20px;
	font-weight: 700;
}
.rxd-box .rsd-experience-text h3 span:first-child{
	margin: 0 20px 0 0;
}
.rxd-box .rsd-experience-text h3 span:last-child{
	margin: 0 0 0 20px;
}
.rxd-box .rsd-experience-text p{
	margin-bottom: 0px;
	font-size: 12px;
}
.xc-log-box .panel-footer.btn-w2 .btn-h40{
	width: 170px;
}
.xc-log-box .panel-footer.btn-w2 .btn-h40.w120{
	width: 120px;
}
.xc-log-box .tel-inpyz,.xc-log-box .tel-inpyz.col-lg-5,.xc-log-box .tel-inpyz.col-sm-5{
	padding-right: 110px;
	position: relative;
}
.xc-log-box .tel-inpyz .getyz{
	position: absolute;
	top: 0;
	right: 0;
}
.basic-inf-text .bit-ul{
	max-width: 560px;
}
.xc-log-cont .panel-body .xc-lb.bit-ul li{
	float: left;
	clear: none;
}
.basic-inf-text .bit-ul li  p{
	width: 162px;
}
.basic-inf-text .bit-ul li a{
	text-decoration: underline;
}
.basic-inf-text .bit-ul li a:focus,.basic-inf-text .bit-ul li a:hover{
	color: #348ce3;
}

span.sline{
	width: 1px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background: #dcdee0;
}
.panel-footer.pt0{
	padding: 0 15px 10px 15px;
}
.basic-inft-tit h3 span{
	font-size: 13px;
	color: #bbb;
}
.basic-inft-tit h3 span a{
	font-size: 14px;
	color: #348ce3;
	font-weight: 700;
}
/*预览学历证书*/
.diploma-bomb{
	width: 640px;
	margin-left: -320px;
	margin-top: -240px;
	background-color: #f5f5f5;
}
.diploma-bomb .diploma-img{
	width: 600px;
	height: 408px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	overflow: hidden;
}

/*面试邀请-入职邀请*/
.rxs-msyq.bomb-sty{
	width: 632px;
	margin-left: -316px;
	margin-top: -227px;
}
.rxs-rzyq.bomb-sty{
	width: 632px;
	margin-left: -316px;
	margin-top: -304px;
}
.bomb-sty .rxd-pad{
	padding-left: 72px;
	position: relative;
	clear: both;
	line-height: 30px;
}
.bomb-sty .rxd-pad label.name{
	width: 68px;
	position: absolute;
	left: 0;
	top: 20px;
	font-size: 14px;
	font-weight: 700;
}
.rxs-msyq .bomb-cont,.rxs-rzyq .bomb-cont{
	line-height: 30px;
}
textarea.form-control.h130{
	height: 130px;
}

.form-control.w164{
	width: 164px;
}
.form-control.inline{
	display: inline-block;
}
/*选择投递职位弹框*/
.job-delive{
	width: 500px;
	margin-left: -250px;
	margin-top: -95px;
}

/*10-发布职位*/
@media screen and (max-width:900px ) {
	.fbzw-cont{
		width: 85%;
	}
}
@media screen and (max-width:850px ) {
	.fbzw-cont{
		width: 96%;
	}
}
.fbzw-cont .panel-body{
	padding: 15px 20px;
}
.fbzw-cont .panel-body h3{
	font-size: 14px;
	line-height: 24px;
	padding:0 0 10px 14px;	
	margin: 0px;
} 
.fbzw-cont .panel-body h3 span{
	display: inline-block;
	margin-left: 16px;
	font-size: 12px;
	color: #999;
}
.fbzw-cont .panel-body .fz-box{
	width: auto;
	max-width: 866px;
}
.fbzw-cont .fz-box h5.fz-text-pad{
	padding-left: 86px;
	position: relative;
	line-height: 30px;
	padding-top: 10px;
	font-weight:normal;
}
.fbzw-cont .fz-box h5.fz-text-pad.lh1{
	line-height: 1;
}
.fbzw-cont .fz-box h5.fz-text-pad label.name{
	position: absolute;
	left: 0px;
	top: 10px;
	width: 78px;
	text-align: right;
	font-weight:normal;
}
.fbzw-cont .fz-box h5.fz-text-pad label.name2{
	width: 78px;
	text-align: right;
	font-weight:normal;
}
.form-control.w546,.w546{
	width: 546px;
}
.form-control.w290{
	width: 290px;
}
.form-control.w214{
	width: 214px;
}
.form-control.w176{
	width: 176px;
}
.form-control.w150{
	width: 176px;
}
.form-control.w114{
	width: 114px;
}
.form-control.w78{
	width: 78px;
}
.help-tipb .help-img{
	/*position: absolute;
	top: -17px;
	right: -262px;*/
}

.fbzw-tm-help{
	margin-left: 7px;
}
.fbzw-tm-help .help-box{
	width: 272px;
	left: 25px;
	top: -6px;
}
.fbzw-tm-help .help-box i.arrow-left{
	left: -7px;
	top: 18px;
}

.fbzw-cont .fz-text-pad{
	clear: both;
}
.fbzw-cont .fz-text-pad p.click{
	color: #b2b2b2;
	height: 40px;
	line-height: 32px;
	margin: 0px;
}
.fbzw-cont .fz-text-pad ul.select-fabu{
	width: 540px;
	margin-bottom: 0px;
}
.fbzw-cont .fz-text-pad ul.select-fabu li{
	margin:0 10px 10px 0;
	padding:0 10px;
	line-height:30px;
	background: #f04d52;
	font-size:13px;
	color: #fff;
	float: left;
	cursor: pointer;
}
.fbzw-cont .fz-text-pad ul.select-fabu li span{
	color: #fff;
}
.fbzw-cont .fz-text-pad ul.select-fabu li i.close-btn{
	width:10px;
	height:18px;
	font-size: 16px;
	text-align: center;
	line-height: 10px;
	display: inline-block;
	margin-left: 4px;
	color: #fff;
}
.fbzw-cont .fz-text-pad ul.time-sel,.fbzw-cont .fz-text-pad ul.zhize-sel{
	clear: both;
	zoom: 1;
	width: 541px;
	padding:10px 0 0 5px;
	background: #f5f5f5;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}
.fbzw-cont .fz-text-pad ul.time-sel li,.fbzw-cont .fz-text-pad ul.zhize-sel li,
.fbzw-cont .fz-text-pad .job-ask .job-xl-sel li,.fbzw-cont .fz-text-pad .job-ask .job-other-sel li,.fbzw-cont .fz-text-pad ul.zhize-sel li{
	margin:0 8px 10px 0;
	padding:0 9px;
	line-height:28px;
	background: #fff;
	font-size:13px;
	color: #666;
	border: 1px solid #dcdee0;
	float: left;
	cursor: pointer;
}
.fbzw-cont .fz-text-pad .job-ask .job-xl-sel li{
	margin:2px 8px 8px 0;
}
.fbzw-cont .fz-text-pad .job-ask .job-xl-sel li.xuel-rz{
	background: transparent;
	border: none;
}
.fbzw-cont .fz-text-pad .add-bq button.TGbtn{
	width: 44px;
	line-height:30px;
	text-align: center;
	background: #ed4f56;
	color: #fff;
	border: none;
	margin-left: -6px;
	vertical-align: middle;
}
.fbzw-cont .fz-text-pad .job-ask{
	padding:0px 0 0 42px;
	background: #f5f5f5;
	width: 541px;
	position: relative;
	clear: both;
	overflow: hidden;
	/*margin-bottom:10px;*/
}
.fbzw-cont .fz-text-pad .job-ask.pt8{
	padding-top:8px;
}
.fbzw-cont .fz-text-pad .job-ask span.tit{
	position: absolute;
	color:#b3b3b3;
	left: 5px;
}
.fbzw-cont .fz-text-pad .job-ask span.xueli{
	top: 10px;
}
.fbzw-cont .fz-text-pad .job-ask span.other{
	top: 0px;
}
.fbzw-cont .fz-text-pad .job-ask .js-request-sel{
	clear: both;
	overflow: hidden;
	margin-bottom: 0px;
}
.fbzw-cont .fz-text-pad .job-ask #liinput{
	display: inline-block;
	clear: both;
	overflow: hidden;
}
.fbzw-cont .fz-text-pad ul.fabu-select li.back-col,.fbzw-cont .fz-text-pad ul.request-sel li.back-col{
	background: #fafafa;
	color: #999;
}
.fz-text-pad .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	padding: 0 0 0 10px;
}

.zwyq-cb{
	width: 541px;
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
}
.zyjl-tip .help-box{
	width: auto;
	right: -234px;
	top: -2px;
	line-height: 20px;
}
.zyjl-tip .arrow-left{
	top: 12px;
	left: -7px;
}
.xlrz-tip  .help-box{
	width: 225px;
	right: -232px;
	top: -6px;
	line-height: 20px;
}
.xlrz-tip  .arrow-left{
	top: 15px;
	left: -7px;
}
input[type=checkbox].ml10{
	margin-left: 10px;
}
input[type=checkbox].ml27{
	margin-left: 27px;
}
input[type=checkbox].mr5{
	margin-right: 5px;
}

/*插件样式*/
.fz-text-pad .chosen-container-multi .chosen-choices{
	border: 1px solid #ccc;
	border-image: none;
	border-radius: 3px;
}

/*帮助蒙板*/
.help-mask.bomb-sty{
	width: 360px;
	min-height: 380px; 
	min-width: 360px; 
	border-radius: 5px; 
	margin-left: -180px; 
	margin-top: -220px;
	display: none;
}
.help-mask.bomb-sty h3{
	margin-top: 16px;
	padding-bottom:10px;
	margin-bottom: 16px;
}
.help-mask .carousel-indicators .active{
	background: #b3b3b3;
}
.help-mask .carousel-indicators li{
	background: #e6e6e6;
}
.help-mask input.prev-slide{
	width: 125px; 
	height: 32px; 
	line-height: 22px; 
	background: #f5f5f5; 
	border: 1px solid #e0e0e0;
	font-size: 16px;
}
.help-mask input.next-slide,.help-mask input.zw-lbt1{
	width: 125px; 
	height: 34px; 
	line-height: 22px; 
	color:#fff;
	background: #F04D52;
	font-size: 16px;
}
.help-mask input.zw-lbt1{
	opacity: 1;
	float: none;
	font-weight: normal;
}

.help-mask .carousel-indicators{
	bottom:-50px;
}
@media screen and (min-width: 768px){
	.help-mask .carousel-indicators{
		bottom:-50px;
	}
}

/*个人信息*/
.cci－cont .xc-tb-cont .nav-tabs{
	margin-left: 0px;
	margin-right: 0px;
}

/*页表*/
.page-list{
	clear: both;
	overflow: hidden;
}
.page-list .m-pagination-page, .page-list .m-pagination-info, .page-list .m-pagination-size, .page-list .m-pagination-jump{
	display: inline-block;
	text-align: center;
	clear: both;
	float: none;
	overflow: hidden;
	padding: 20px 0;
}

@media (min-width:1094px){
	header .logo{
		margin: 8px 0 8px 20px;
	}
}
@media (max-width:1064px){
	header .headl .nav.navbar-nav{
		margin:0 0 0 1em;
	}
	header .headl .navbar-nav>li>a{
		padding: 0 0.8em;
	}
}

	.subnav{
		padding-left: 40px;
	}
	.xc-tb-cont.col-sm-10{
		margin-left: 40px;
	}



/*页表*/
.page-list  span{
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 9px;
	border: 1px solid #e8ebed;
	vertical-align: middle;
	margin: 0 3px;
	font-size: 14px;
}
.page-list .pagination,.page-list .pagination ul{
	margin: 0;
}
.page-list .pagination>li>a, .pagination>li>span{
	font-size: 14px;
	color: #434b54;
}
.page-list .pagination>li.active>a{
	background: #f04d52;
	border: 1px solid #f04d52;
	color: #fff;
}
.page-list .pagination>li:first-child>a, .page-list .pagination>li:last-child>span,.page-list .pagination>li:first-child>a, .page-list .pagination>li:last-child>span{
	border-radius: 0;
}


/*企业hr1.1.1*/
.hlh28{ height:28px; line-height: 28px;}
.select-w1{ min-width: 78px; width: 10%;}

/*招聘中职位*/
/*友情提示*/
.friends-box{
	position: fixed;
	right: 0px;
	top: 353px;
	z-index: 99;
}
.friends-box .unfold-ico{
	width: 29px;
	height: 106px;
	display: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;	
	background: url(../img/83.png) left top no-repeat;	
	cursor: pointer;
}
.friends-box .friends-tip{
	width: 223px;
	height: 332px;
	padding: 11px 20px 16px 35px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #eee;
	font-size: 13px;
	color: #666;
	line-height: 24px;
	cursor: auto;
}
.friends-tip h2{
	font-size: 13px;
	margin: 0;
	line-height: 24px;
}
.friends-tip p{
	text-align: justify;
}
.friends-tip i.shrink-ico{
	width: 20px;
	height: 40px;
	display: block;
	background: url(../img/84.png) center center no-repeat;
	position: absolute;
	left: 0px;
	top: 88px;
	cursor: pointer;
}

/* 账户安全*/
	.zs-xc-lb .col-lg-1,.zs-xc-lb .col-sm-1,.zs-xc-lb .col-lg-3,.zs-xc-lb .col-sm-3,.zs-xc-lb .col-lg-5,.zs-xc-lb .col-sm-5,.zs-xc-lb .col-lg-8,.zs-xc-lb .col-sm-8{
		padding: 0;
	}
